<div class="container">
    <section class="hero">
        <div class="hero__responsive-image">
        </div>
    
        <div class="hero-video">
            <video playsinline autoplay muted loop id="bgvideo">
                <source src="../../../../../assets/ac2019-teasev03.mp4" type="video/mp4">
            </video>
        </div>
</section>
<div class="container top_padded">
    <div>
        <div>
                <h1 class="hero__heading">Time Tracker</h1>
            
                <h3 class="hero__subheading">Track My Time</h3>
            
        </div>
        </div>
    </div>
</div>