<div class="sauce-container">
        <section class="section-master">
        <a routerLink="/sauce-timer"
        routerLinkActive="active"
        class="help-icon timer">Timer</a>
<section class="about-view">
<h1>About the Pomodoro Technique</h1>
<section class="main-section">
<p>The Pomodoro Technique is a time management method developed by Francesco
    Cirillo in the late 1980s. The technique uses a timer to break down work into intervals,
    traditionally 25 minutes in length, separated by short breaks.
    These intervals are named pomodoros, the plural in English of the Italian
    word pomodor (tomato), after the tomato-shaped kitchen timer that Cirillo
    used as a university student.
</p>

<strong>There are six steps in the technique.</strong>

<ol>
    <li>
        Decide on the task to be done.
    </li>
    <li>
        Set the pomodoro timer (traditionally to 25 minutes).
    </li>
    <li>
        Work on the task until the timer rings. If a distratcion pops into your head, write it down, but immediately get back to the task.
    </li>
    <li>
        After the timer rings, put a checkmark on a piece of paper.
    </li>
    <li>
        If you have fewer that four checkmarks. take a short break (3 - 5 minutes), then go to step 1.
    </li>
    <li>
        After four pomodoros, take a longer break (15 - 30 minutes), reset your checkmark count to zero, then go to step 1.
    </li>
</ol>
<strong>If this <em>little app</em> helped you, please share with a friend:</strong>

<div class="share-links">
  <div class="button facebook">
    <div class="fb-share-button" data-share="true" data-layout="button">Facebook Share</div>
  </div>
  <div class="button twitter">
    <a class="twitter-share-button" href="//twitter.com/share" data-via="nnaegele" data-hashtags="">Tweet</a>
  </div>
</div>
<div class="footer">
        <p class="copyright">With <span class="keyword">&#10084;</span><span class="currentYear">{{ currentYear }}</span></p>
</div>
</section>
</section>
</section>
<app-sidebar></app-sidebar>
</div>
