<mat-toolbar>
    <mat-toolbar-row>
      <span>Time Tracker 0</span>
      <span class="app-toolbar-filler"></span>
      <mat-icon class="example-icon">build</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button (click)="navigate()" class="app-sidebar-button">Time 0</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button class="app-sidebar-button">Time 1</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button class="app-sidebar-button">Time 2</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button class="app-sidebar-button">Time 3</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button class="app-sidebar-button">Time 4</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button class="app-sidebar-button">Time 5</button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Time Tracker 1</span>
      <span class="app-toolbar-filler"></span>
      <mat-icon class="example-icon">add_alert</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-raised-button color="warn" class="app-sidebar-button">
        <mat-icon class="example-icon">warning</mat-icon>
        Time 6
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-raised-button color="warn" class="app-sidebar-button">
          <mat-icon class="example-icon">warning</mat-icon>
          Time 7
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row>
          <button mat-raised-button color="warn" class="app-sidebar-button">
            <mat-icon class="example-icon">warning</mat-icon>
            Time 8
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-raised-button color="warn" class="app-sidebar-button">
              <mat-icon class="example-icon">warning</mat-icon>
              Time 9
            </button>
          </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Time Tracker 2</span>
      <span class="app-toolbar-filler"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-raised-button color="accent" class="app-sidebar-button">
        <mat-icon class="example-icon">help</mat-icon>
        Time 10
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
    <button mat-raised-button color="accent" class="app-sidebar-button">
        <mat-icon class="example-icon">help</mat-icon>
        Time 11
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
