<mat-toolbar>
    <mat-toolbar-row>
      <span>Time Trackers</span>
      <span class="app-toolbar-filler"></span>
      <mat-icon class="example-icon">build</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button (click)="navigateTo('/timers-display')" class="app-sidebar-button">Timers</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button (click)="navigateTo('/pomodoro')" class="app-sidebar-button">Pomodoro</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button (click)="navigateTo('/time-box')" class="app-sidebar-button">Timebox</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button (click)="navigateTo('/sauce-timer')"  class="app-sidebar-button">Sauce Timer</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button (click)="navigateTo('/simple-timer')"  class="app-sidebar-button">Simple Timer</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button class="app-sidebar-button">Time 4</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button class="app-sidebar-button">Time 5</button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Time Tracker 1</span>
      <span class="app-toolbar-filler"></span>
      <mat-icon class="example-icon">add_alert</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-raised-button color="warn" class="app-sidebar-button">
        <mat-icon class="example-icon">warning</mat-icon>
        Time 6
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-raised-button color="warn" class="app-sidebar-button">
          <mat-icon class="example-icon">warning</mat-icon>
          Time 7
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row>
          <button mat-raised-button color="warn" class="app-sidebar-button">
            <mat-icon class="example-icon">warning</mat-icon>
            Time 8
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-raised-button color="warn" class="app-sidebar-button">
              <mat-icon class="example-icon">warning</mat-icon>
              Time 9
            </button>
          </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Time Tracker 2</span>
      <span class="app-toolbar-filler"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-raised-button color="accent" class="app-sidebar-button">
        <mat-icon class="example-icon">help</mat-icon>
        Time 10
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
