/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "~font-awesome/css/font-awesome.css";
// Utility
@import 'assets/styles/utility/functions';
@import 'assets/styles/utility/mixins';
@import 'assets/styles/utility/variables';
@import 'assets/styles/utility/classes';

// Base
// @import 'assets/styles/base/reset';
// @import 'assets/styles/base/typography';
// @import 'assets/styles/base/animations';

// Layout
@import 'assets/styles/layout/common';
@import 'assets/styles/layout/about-view';

// Modules
@import 'assets/styles/modules/buttons';
@import 'assets/styles/modules/loader';
@import 'assets/styles/modules/master';
@import 'assets/styles/modules/sidebar';
@import 'assets/styles/modules/settings';
@import 'assets/styles/modules/history';
@import 'assets/styles/modules/timer';
@import 'assets/styles/modules/timer-toggle';
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
    height: 100vh; // emmet h100vh
    background-color: #ff2d55;
  }

// .mat-bottom-sheet-container {
//     height: 100vh;
// }

// .ng8-love-notes {
//   display: flex;
//   flex-direction: column;
//   align-content: space-between;
//   height: 100%;
// }

// .main {
//   flex: 1;
//   padding: 0 16px;
// }

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

mat-card {
  margin: auto;
}

mat-toolbar-row {
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 0.7rem;
  padding: 0.5rem;
}

// global variables
$base-font-size: 20px;
$small-font-size: 15px;
$base-font-family: "Roboto", sans-serif;

$background-dark: #533a7b;
$background-dark-accent: #8d69c6;
$text-light: #e9f1f7;

$background-light: #f1f5f2;
$background-light-accent: #ddd8ff;

$good-action-color: green;
$bad-action-color: red;
$neutral-action-color: grey;

$medium-breakpoint: 1224px;
$small-breakpoint: 500px;

// tracker variables
$sidebar-width: 215px;
$small-sidebar-width: $sidebar-width/2;
$content-width: calc(100% - #{$sidebar-width});
$small-content-width: calc(100% - #{$small-sidebar-width});
$timer-height: 80px;
$history-entry-height: 60px;

// app component variables
$header-height: 100px;
$main-height: calc(100vh - #{$header-height});

// login component variables
$box-height: 400px;
$box-width: 400px;

// dashboard variables
$dashboard-header-height: 60px;
$graphs-height: calc(100% - #{$dashboard-header-height});
$small-dashboard-header-height: 40px;
$small-graphs-height: calc(100% - #{$small-dashboard-header-height});

// nav variables
$small-nav-banner-height: 40px;

// profile variables
$profile-field-height: 40px;