/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
    height: 100vh; // emmet h100vh
    background-color: #ff2d55;
  }

// .mat-bottom-sheet-container {
//     height: 100vh;
// }

// .ng8-love-notes {
//   display: flex;
//   flex-direction: column;
//   align-content: space-between;
//   height: 100%;
// }

// .main {
//   flex: 1;
//   padding: 0 16px;
// }

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

mat-card {
  margin: auto;
}

mat-toolbar-row {
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 0.7rem;
  padding: 0.5rem;
}