/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
// Utility
@import 'assets/styles/utility/functions';
@import 'assets/styles/utility/mixins';
@import 'assets/styles/utility/variables';
@import 'assets/styles/utility/classes';

// Base
// @import 'assets/styles/base/reset';
// @import 'assets/styles/base/typography';
// @import 'assets/styles/base/animations';

// Layout
@import 'assets/styles/layout/common';
@import 'assets/styles/layout/about-view';

// Modules
@import 'assets/styles/modules/buttons';
@import 'assets/styles/modules/loader';
@import 'assets/styles/modules/master';
@import 'assets/styles/modules/sidebar';
@import 'assets/styles/modules/settings';
@import 'assets/styles/modules/history';
@import 'assets/styles/modules/timer';
@import 'assets/styles/modules/timer-toggle';
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
    height: 100vh; // emmet h100vh
    background-color: #ff2d55;
  }

// .mat-bottom-sheet-container {
//     height: 100vh;
// }

// .ng8-love-notes {
//   display: flex;
//   flex-direction: column;
//   align-content: space-between;
//   height: 100%;
// }

// .main {
//   flex: 1;
//   padding: 0 16px;
// }

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

mat-card {
  margin: auto;
}

mat-toolbar-row {
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 0.7rem;
  padding: 0.5rem;
}